<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FastTrackWebApplication</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>DatePlaceValidationServlet</display-name>
  	<servlet-name>DatePlaceValidationServlet</servlet-name>
  	<servlet-class>com.sella.training.ctb.controller.bookingdetails.DatePlaceValidationServlet</servlet-class>
  </servlet>
    <servlet>
  	<description>
  	</description>
  	<display-name>CustomerValidationServlet</display-name>
  	<servlet-name>CustomerValidationServlet</servlet-name>
  	<servlet-class>com.sella.training.ctb.controller.bookingdetails.CustomerValidationServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BookingCancellationServlet</display-name>
  	<servlet-name>BookingCancellationServlet</servlet-name>
  	<servlet-class>com.sella.training.ctb.controller.cancellation.BookingCancellationServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>BookingConfirmationServlet</display-name>
  	<servlet-name>BookingConfirmationServlet</servlet-name>
  	<servlet-class>com.sella.training.ctb.controller.bookingdetails.BookingConfirmationServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>TaxiReportServlet</display-name>
  	<servlet-name>TaxiReportServlet</servlet-name>
  	<servlet-class>com.sella.training.ctb.controller.report.TaxiReportServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>HiredTaxiReportGeneratorServlet</display-name>
  	<servlet-name>HiredTaxiReportGeneratorServlet</servlet-name>
  	<servlet-class>com.sella.training.ctb.controller.report.HiredTaxiReportGeneratorServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DriverReportServlet</display-name>
  	<servlet-name>DriverReportServlet</servlet-name>
  	<servlet-class>com.sella.training.ctb.controller.report.DriverReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DatePlaceValidationServlet</servlet-name>
  	<url-pattern>/DatePlaceValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingConfirmationServlet</servlet-name>
  	<url-pattern>/BookingConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerValidationServlet</servlet-name>
  	<url-pattern>/CustomerValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingCancellationServlet</servlet-name>
  	<url-pattern>/BookingCancellationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TaxiReportServlet</servlet-name>
  	<url-pattern>/TaxiReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HiredTaxiReportGeneratorServlet</servlet-name>
  	<url-pattern>/HiredTaxiReportGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverReportServlet</servlet-name>
  	<url-pattern>/DriverReportServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>LoginForm.jsp</welcome-file>
     </welcome-file-list>
</web-app>